In [1]:
import numpy as np
import pandas as pd
import cv2
import pytesseract

import os
from glob import glob
from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')

In [6]:
imgPaths = glob('C:/Users/khush/Desktop/Doc Scanner/Selected/*.jpeg')

In [8]:
allBusinessCard = pd.DataFrame(columns=['id','text'])

for imgPath in  tqdm(imgPaths,desc='BusinessCard'):
    
    #imgPath = imgPaths[0]
    _, filename = os.path.split(imgPath)
    # extract data and text 
    image = cv2.imread(imgPath)
    data = pytesseract.image_to_data(image)
    dataList = list(map(lambda x: x.split('\t'),data.split('\n')))
    df = pd.DataFrame(dataList[1:],columns=dataList[0])
    df.dropna(inplace=True)
    df['conf'] = df['conf'].astype(float)
    df['conf'] = df['conf'].astype(int)

    useFulData = df.query('conf >= 30')

    # Dataframe
    businessCard = pd.DataFrame()
    businessCard['text'] = useFulData['text']
    businessCard['id'] = filename
    
    # concatenation
    allBusinessCard = pd.concat((allBusinessCard,businessCard))

BusinessCard: 100%|██████████| 293/293 [03:41<00:00,  1.32it/s]

In [9]:
allBusinessCard

          id      text
4   000.jpeg
9   000.jpeg  040-4852
10  000.jpeg     8881,
11  000.jpeg     90309
12  000.jpeg     52549
..       ...       ...
58  292.jpeg     Salem
59  292.jpeg        OR
60  292.jpeg     97301
64  292.jpeg
68  292.jpeg

[10106 rows x 2 columns]

In [10]:
allBusinessCard.to_csv('businessCard.csv',index=False)